<h2>Resolve Bug</h2>

<div><strong>Summary</strong></div>
<div>
  {{#link-to 'bug' model}}<strong>{{model.id}}</strong>{{/link-to}}
  <a target="_blank" {{bind-attr href="model.externalUrl"}}><span class="glyphicon glyphicon-export"/></a>
  ({{#link-to 'sprint.work'}}close{{/link-to}})
</div>
<div>{{model.summary}}</div>


<div><strong>Status</strong></div>
<div class="row">
  <div class="col-sm-5">{{model.status}}</div>
  <div class="col-sm-2">==></div>
  <div class="col-sm-5">RESOLVED</div>
</div>

<div><strong>Resolution</strong></div>
<div class="row">
  <div class="col-sm-5">{{#if model.resolution}}{{model.resolution}}{{else}}---{{/if}}</div>
  <div class="col-sm-2">==></div>
  <div class="col-sm-5">
    {{view "select" content=view.resolutions}}
  </div>
</div>

<div><strong>Docs Required</strong></div>
<div class="row">
  <div class="col-sm-5">{{#if model.docsRequired}}{{model.docsRequired}}{{else}}---{{/if}}</div>
  <div class="col-sm-2">==></div>
  <div class="col-sm-5">
    {{view "select" content=view.docRequirements}}
  </div>
</div>


<div class="row">
  <button class="btn btn-default btn-success" {{action save}}>Resolve</button>
  <button class="btn btn-default" {{action cancel}}>Cancel</button>
</div>
