<div class="page-header">
  <h1>Sprint {{model.name}}
    <small>({{moment model.begin "ll"}} &mdash; {{moment model.end "ll"}})</small>
  </h1>
  <div>
    <strong>Burndown Progress</strong>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
        aria-valuemin="0"
        aria-valuenow="{{model.bugsStoryPointsDone}}"
        aria-valuemax="{{model.storyPointsDone}}"
        style="width:{{model.storyPointsDonePercent}}%">
        {{model.storyPointsDone}} / {{model.storyPointsTotal}} ({{model.storyPointsDonePercent}}% Complete)
      </div>
    </div>    
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Completed</div>
  <div class="panel-body">
    <table class=".table .table-striped">
      <thead>
        <th>ID</th>
        <th>Summary</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Resolution</th>
        <th>Keywords</th>
      </thead>
      <tbody>
        {{#each bug in doneBugs}}
          <tr>
            <td>{{#link-to "bug" bug}}{{bug.id}}{{/link-to}}</td>
            <td>{{bug.summary}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.status}}</td>
            <td>{{bug.resolution}}</td>
            <td class="keywords">
              {{#each keyword in bug.keywords}}
                <span class="keyword">{{keyword}}</span>
              {{/each}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Not Completed</div>
  <div class="panel-body">
    <table class=".table .table-striped">
      <thead>
        <th>ID</th>
        <th>Summary</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Keywords</th>
      </thead>
      <tbody>
        {{#each bug in toDoBugs}}
          <tr>
            <td>{{#link-to "bug" bug}}{{bug.id}}{{/link-to}}</td>
            <td>{{bug.summary}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.status}}</td>
            <td>{{bug.assigned_to}}</td>
            <td class="keywords">
              {{#each keyword in bug.keywords}}
                <span class="keyword">{{keyword}}</span>
              {{/each}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{outlet}}
