<div class="container">
  <div>
    <strong>Sprint {{model.name}}</strong> -
    <span class="sprintIssueCount">{{model.bugs.length}} issues</span>
  </div>
  <div class="sprintDateRange">{{moment model.begin "ll"}} &mdash; {{moment model.end "ll"}}</div>
  <table>
    <thead>
      <th>ID</th>
      <th>Summary & Keywords</th>
      <th class="storyPts">Pts</th>
    </thead>
    <tbody>
      {{#each bug in model.bugs}}
        <tr>
          <td>
            {{#link-to "bug" bug}}{{#if bug.isDone}}<s>{{bug.id}}</s>{{else}}{{bug.id}}{{/if}}{{/link-to}}          
              <a target="_blank" {{bind-attr href="bug.externalUrl"}}><span class="glyphicon glyphicon-export"/></a>
          </td>
          <td class="summaryAndKeywords">
            <div class="keywords">
              {{#each keyword in bug.keywords}}
                <span class="keyword">{{keyword}}</span>
              {{/each}}
            </div>
            <div class="summary">{{bug.summary}}</div>
          </td>
          <td class="storyPts">{{bug.storyPointsTotal}}</td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="2">&nbsp;</td>
        <td class="storyPts">{{model.storyPointsTotalSum}}</td>
      </tr>
    </tbody>
  </table>
</div>


{{outlet}}
