<div class="container">
  <div>
    <strong>Burndown Progress</strong> &mdash; Sprint {{model.name}}
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
        aria-valuemin="0"
        aria-valuenow="{{model.bugsStoryPointsDone}}"
        aria-valuemax="{{model.storyPointsDone}}"
        style="width:{{model.storyPointsDonePercent}}%">
        {{model.storyPointsDone}} / {{model.storyPointsTotal}} ({{model.storyPointsDonePercent}}% Complete)
      </div>
    </div>    
  </div>
  
  <div>
    <div>
      <strong>Burndown Chart</strong> &mdash; Sprint {{model.name}}
    </div>
    <div>
      {{chartist-chart type='line' data=controller.burndownChartData options=controller.burndownChartOptions}}
    </div>
  </div>
</div>


{{outlet}}
