<div class="container">
  <div>
    <strong>Burndown Progress</strong> &mdash; Sprint {{model.name}}
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0"
        {{bind-attr aria-valuenow=model.bugsStoryPointsDone}}
        {{bind-attr aria-valuemax=model.storyPointsDone}}
        {{bind-attr style=view.progressBarStyle}}>
        {{model.storyPointsDone}} / {{model.storyPointsTotal}} ({{model.storyPointsDonePercent}}% Complete)
      </div>
    </div>    
  </div>
  
  <div>
    <strong>Burndown Chart</strong> &mdash; Sprint {{model.name}}
    <div>(To do)</div>
  </div>
</div>


{{outlet}}
