<div class="page-header">
  <h1>Zimbra Scrum
    <small>Current Sprint: {{#link-to 'sprint' model}}{{model.name}}{{/link-to}}
    ({{moment model.begin "ll"}} &mdash; {{moment model.end "ll"}})</small>
  </h1>
</div>


<h3>Recent Sprints:</h3>
<ul>
  <li>
    {{#link-to 'sprint' model.prev}}{{model.prev.name}}{{/link-to}}
    <small>({{moment model.prev.begin "ll"}} &mdash; {{moment model.prev.end "ll"}})</small>
  </li>
  <li>
    {{#link-to 'sprint' model.prev.prev}}{{model.prev.prev.name}}{{/link-to}}
    <small>({{moment model.prev.prev.begin "ll"}} &mdash; {{moment model.prev.prev.end "ll"}})</small>
  </li>
  <li>
    {{#link-to 'sprint' model.prev.prev.prev}}{{model.prev.prev.prev.name}}{{/link-to}}
    <small>({{moment model.prev.prev.prev.begin "ll"}} &mdash; {{moment model.prev.prev.prev.end "ll"}})</small>
  </li>
</ul>

{{outlet}}
