<h2>Login</h2>


<form class="container" {{action "authenticate" on="submit"}}>
  {{#if errorMessage}}
    <div class="form-group">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"/>
        <span class="sr-only">Error:</span>
        {{errorMessage}}
      </div>
    </div>
  {{/if}}
  
  <div class="form-group">
    {{input id="identification" value=identification placeholder="Enter your email login" type="email" autocapitalize="none" autocorrect="off"}}
  </div>
  <div class="form-group">
    {{input id="password" value=password placeholder="Enter your password" type="password"}}
  </div>
  <button class="btn btn-default btn-success has-spinner" type="submit">
    {{#if showSpin}}{{fa-icon "refresh" spin=true}}{{/if}}
    Login
  </button>
</form>


{{outlet}}
